* {
    // border: 1px solid blue;
    font-family: 'Raleway', sans-serif;
}
//NAVBAR
#navbar {
    border-bottom: 1px solid rgb(137, 137, 137);
    position: sticky;
    top: 0;
    z-index: 2;
    .container-fluid {
        button {
            i {
                font-size: 1.5rem;
                font-style: normal;
            }
        }

        .collapse {
            width: 100%;
            ul {
                width: 100%;
                li {
                    border: 1px solid rgb(111, 111, 111);
                    p {
                        font-size: 0.8rem;
                        margin: 0;
                        width: 40% !important;
                    }
                    img {
                        height: 2rem;
                        width: 2rem;
                        object-fit: contain;
                    }
                }
            }
            #total-price {
                font-size: 1.5rem;
            }
        }
    }
}

.card {
    margin: 0.5rem !important;
    img {
        height: 8rem;
        object-fit: contain;
    }

    h5 {
        font-size: 1rem;
    }
    p {
        font-size: 0.8rem;
    }
}

.friend-list{
    li {
        font-size: 1rem;
    } 
}
